img{
    border-radius: 50%;
  }
body{
    width: 100%;
    text-align: justify;
    background-color: skyblue;
}

h2{
    color: purple;
}

ol{
    color: hotpink;
    text-align: left;
}
#intro-p{
    color: indigo;
}

.my-ol{
    color: indigo;
}
#sec-1{
    background-color: lightgrey;
    outline-style: solid;
    outline-color: white;
   
}
#sec-2{
    background-color: lightcyan;
    outline-style: solid;
    outline-color: black;
}
#sec-3{
    background-color:lightgrey;
    outline-style: solid;
    outline-color: white;
}

.container{
    display: flex;
    width: 100%;
}

.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}

.column1, .column2,.column3{
    width: 250%;
    height: 90vh;
    float:left;
    margin-right: 5px;
}
.padding-15{
    padding:15px;
}
.tbl{
    background-color: whitesmoke;
}
.center {
  margin: auto;
  width: 80%;
  padding: 10px;
}