body{
    background: url(img.jpg) center;
}

h1{
    background: #00CC99;
	text-align: center;
	font-size: 38px;
	padding: 20px;
	font-weight: bold;
	margin-left: 35%;
	margin-right: 35%;
	font-family: Times New Roman;
}

marquee{
    background: #00FFFF;
	font-size: 20px;
	padding-top: 6px;
	margin: -23px;
	margin-left: 35%;
	margin-right: 35%;
}

fieldset{
    width: 45%;
	margin: auto;
	border: 1px solid red;
	text-align: left;
	font-size: 20px;
}

input[type=number],[id]{
    background: #fff;
	border: 1px solid #000;
	border-radius: 2px;
	border-width: 1px;
	color: #36454b;
	font-size: 15px;
	margin: 5px;
	padding: 12px;
	display: inline-block;
}

input[type=button]{
    width: 80px;
	height: 43px;
	font-weight: bold;
}

input[type=reset]{
    width: 95px;
	height: 43px;
	font-weight: bold;
}